/**
 * Стили для страницы редактирования групп фейсбук страниц
 * Используется только в панели администратора

 * @author Webcraftic <wordpress.webraftic@gmail.com> 
 * @copyright Webcraftic 09.02.2018 
 */
.factory-bootstrap-401 .wbcr-autopost-fb-pages-listbox {
  display: block;
  border: 1px solid #e2e2e2;
  background: #fbfbfb;
  overflow-x: auto;
  width: 400px;
  max-height: 150px;
  padding: 10px 20px;
}
.factory-bootstrap-401 .wbcr-autopost-fb-pages-listbox-error {
  display: block;
  border: 1px solid #ffc8c8;
  background: #f9eeee;
  color: #927070;
  overflow-x: auto;
  width: 400px;
  max-height: 150px;
  padding: 10px 20px;
}
